:root{
    --primary-color: #121F29;
    --secondary-color: #59A0BC;
    --accent1-color: #36718A;
    --accent2-color: #D68F43;
    --accent3-color: #FCFFFC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Bungee", system-ui;
    font-style: normal;
}

a, p {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
}

/*
header {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a{
    color: var(--accent3-color);
    display: block;
    padding: 20px;
}
*/

/* Header container styling using CSS Grid */
header {
    display: grid;
    grid-template-columns: auto 1fr; /* Two columns: one for the logo, one for the nav */
    align-items: center;
    background-color: var(--primary-color);
    padding: 10px 20px;
}

/* Logo styling */
header img {
    max-height: 75px;
}

/* Navigation styling using CSS Flexbox */
nav {
    display: flex; /* Flex container for horizontal alignment of links */
    justify-content: flex-end; /* Align links to the right */
}

/* Navigation link styling */
nav a {
    color: var(--accent3-color);
    text-decoration: none;
    padding: 10px 15px;
    font-weight: bold;
    transition: color 0.3s;
}

/* Hover effect for links */
nav a:hover {
    color: var(--accent1-color);
}




h1 {
    color: var(--accent2-color);
}

h2 {
    color: var(--primary-color);
}

div img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    position: absolute;
    top: 1000px;
    left: 100px;
    width: 80%;
    background-color: #D68F43;
    padding: 20px;
}

article img{
    float: right;
}

footer {
    color: var(--accent3-color);
    margin-top: 15px;
    text-align: center;
    background-color: var(--primary-color);
    padding: 20px;
}


/* Class Selectors */


.hero div{
    position: relative;
}

.hero h1 {
    position: absolute;
    left: 200px;
    top: 800px;
}

.small {
    width: 200px;
    height: auto;
}

.sociallinks img {
    width: 20px;
    height: auto;
}
