:root {
    --fav-color: steelblue;
    --border-w: 1px;
    --border-s: solid;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--fav-color);
    padding: 10px;
}

nav a{
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--fav-color);
}

img{
    width: 150px;
    height: auto;
    border: var(--border-w) var(--border-s) var(--fav-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    left: 102px;
    top: 20px;
}

main img {
    width: 150px;
    height: auto;
    float: right;
}

footer {
    margin-top: 15px;
    border-top: var(--border-w) var(--border-s) black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border-w) var(--border-s) rgba(0, 0, 0, 0.1);
    padding: 1rem;
    background-color: rgb(220, 224, 242);
    color: #333;
}
